//**********************************
//FONT IMPORTS
//**********************************
@import 'https://fonts.googleapis.com/css?family=Raleway';

//**********************************
//PARTIAL IMPORTS
//**********************************
@import './partials/editTable';
@import './partials/searching';

//**********************************
//RESET
//**********************************
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.wrapper {
    width: 100%;
    background-color: #eee;
}

//**********************************
//PROGRESS BAR
//**********************************
.progress {
    color: aqua;
}

.determinate {
    width: 50%;
}

//**********************************
//NAVIGATION
//**********************************
nav ul a,
nav .brand-logo {
    color: #444;
}

//**********************************
//PARAGRAPH &HEADING
//**********************************
p {
    font-size: 1.2em;
    line-height: 2rem;
}

//**********************************
//BUTTONS
//**********************************
.button-collapse {
    color: #26a69a;
}

//**********************************
//PARALLAX
//**********************************
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: #eee;
}

.parallax-container .section {
    width: 100%;
}

//**********************************
//MATERIAL ICONS
//**********************************
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

//**********************************
//FOOTER
//**********************************
footer.page-footer {
    margin: 0;
}

//**********************************
//LINES AND HEADING
//**********************************
h1,
.lines {
    overflow: hidden;
    text-align: center;
}

h1:before,
h1:after {
    background-color: #4db6ac;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.lines:before,
.lines:after {
    background-color: #4db6ac;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}

h1:before,
.lines:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after,
.lines:after {
    left: 0.5em;
    margin-right: -50%;
}

//**********************************
//DATA TABLE REMOVE EXTRAS
//**********************************
.dataTables_info,
.dataTables_length,
.dataTables_paginate{
    display: none;
}

//**********************************
//MEDIA QUERIES - TABLET
//**********************************
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

//**********************************
//MEDIA QUERIES - PHONE
//**********************************
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}