@import url(http://fonts.googleapis.com/css?family=Antic+Slab|Raleway);

@import './partials/button';

@import 'partials/underline-from-left';
@import 'partials/sweep-to-right';

html,
body {
    height: 100%;
    font-family: 'Raleway';
}

.container-fluid {
    padding: 4em 3.5em;
}

.bg-grey {
    background-color: #dddddd;
}

.logo {
    color: #c81717;
    font-size: 200px;
}

.logo-small {
    color: #c81717;
    font-size: 50px;
}

.main {
    font-size: 4em;
}

.secondary {
    font-size: 1.5em;
}

.heading {
    font-family: 'Raleway';
    font-size: 8em;;
    color: #DDCCEE;
}

.lead {
    color: #DDCCEE;
    font-size: 2em;
    font-family: 'Raleway';
}

.custom {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    background-color: #222;
    background: linear-gradient(to top right, #222, #111);
    color: #eee;
    overflow: hidden;
}

.custom a {
    color: #efefef;
    text-decoration: none;
}

.v-center {
    margin-top: 7%;
}