@import url(http://fonts.googleapis.com/css?family=Antic+Slab|Raleway);
/* line 1, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_button.scss */
.btn-custom {
  border-radius: 0px;
  font-family: 'Raleway';
  padding: 5px 35px;
  background-color: #333;
  color: #eee;
  margin: 0;
  border: 0px solid transparent; }

/* line 11, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_button.scss */
.btn-custom:active {
  -webkit-box-shadow: inset 0 0px 0px transparent;
  box-shadow: inset 0 0px 0px transparent; }

/* line 16, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_button.scss */
.btn-custom:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px; }

/* Underline From Left */
/* line 2, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_underline-from-left.scss */
.underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  overflow: hidden; }

/* line 13, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_underline-from-left.scss */
.underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #c81717;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

/* line 29, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_underline-from-left.scss */
.underline-from-left:hover:before, .underline-from-left:focus:before, .underline-from-left:active:before {
  right: 0; }

/* Sweep To Right */
/* line 2, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_sweep-to-right.scss */
.sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

/* line 16, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_sweep-to-right.scss */
.sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c81717;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

/* line 36, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_sweep-to-right.scss */
.sweep-to-right:hover, .sweep-to-right:focus, .sweep-to-right:active {
  color: white; }

/* line 39, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/partials/_sweep-to-right.scss */
.sweep-to-right:hover:before, .sweep-to-right:focus:before, .sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/* line 6, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
html,
body {
  height: 100%;
  font-family: 'Raleway'; }

/* line 11, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.container-fluid {
  padding: 4em 3.5em; }

/* line 15, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.bg-grey {
  background-color: #dddddd; }

/* line 19, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.logo {
  color: #c81717;
  font-size: 200px; }

/* line 24, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.logo-small {
  color: #c81717;
  font-size: 50px; }

/* line 29, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.main {
  font-size: 4em; }

/* line 33, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.secondary {
  font-size: 1.5em; }

/* line 37, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.heading {
  font-family: 'Raleway';
  font-size: 8em;
  color: #DDCCEE; }

/* line 44, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.lead {
  color: #DDCCEE;
  font-size: 2em;
  font-family: 'Raleway'; }

/* line 50, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.custom {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  background-color: #222;
  background: linear-gradient(to top right, #222, #111);
  color: #eee;
  overflow: hidden; }

/* line 60, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.custom a {
  color: #efefef;
  text-decoration: none; }

/* line 65, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
.v-center {
  margin-top: 7%; }

@media (min-width: 767px) {
  /* line 70, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
  .navbar {
    padding: 20px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
  /* line 76, C:/Users/William/Desktop/DnD/Wwbrett.github.io/sass/style.scss */
  .top-nav-collapse {
    padding: 0; } }

/*# sourceMappingURL=style.css.map */